@model Seyahat_sitesi.Models.Sınıflar.BlogYorum
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>iDESIGN - Interior Design HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/web2/interior-design-html-template/img/favicon.ico" rel="icon">


    <!-- Flaticon Font -->
    <link href="~/web2/interior-design-html-template/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/web2/interior-design-html-template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/web2/interior-design-html-template/lib/lightbox/css/lightbox.min.css" rel="stylesheet">



</head>
<body>

    <div class="container-fluid bg-light pt-5">
        <div class="container py-5">
            <div class="row justify-content-center">

                <div class="col-lg-6 col-md-8 col text-center mb-4">

                    <h1 class="mb-4" style="color:black">YAPILAN İŞLER HAKKINDA BİLGİLER VE YETİŞTİRİLEN ÜRÜNLER</h1>
                </div>
            </div>
            <div class="row pb-3">
                @foreach (var x in Model.Deger1)
                {

                    <div class="col-md-4 mb-4">
                        <div class="card border-0 mb-2">
                            <img class="card-img-top" src="@x.BlogResim" style="width:800px;height: 400px ">
                            <div class="card-body bg-white p-4">
                                <div class="d-flex align-items-center mb-3">
                                    <a class="btn btn-primary" href="~/Blog/BlogDetay/@x.ID"><i class="fa fa-link"></i></a>
                                    <!--önemli olan controllerde yaptığımız işlem meto ekledikten sonra
                                        tıkladığımızda hangi id ise onun bilgisini getiricek ... blog detay sayfasına gitmesi içinde linki böyle verdik-->

                                    <h5 class="m-0 ml-3 text-truncate">@x.Baslik</h5>

                                </div>

                                <a href="~/Blog/BlogDetay/@x.ID">@x.Tarih.ToString("dd.MM.yyyy")</a>

                                <div class="d-flex">
                                    <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
                                    <small class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</small>
                                    <small class="mr-3"><i class="fa fa-comments text-primary"></i> 15</small>
                                </div>
                                <a href="@x.Aciklama">   </a>


                            </div>
                        </div>
                    </div>
                }

                <div class="col-md-12 mb-4">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/web2/interior-design-html-template/lib/easing/easing.min.js"></script>
    <script src="~/web2/interior-design-html-template/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/web2/interior-design-html-template/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/web2/interior-design-html-template/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/interior-design-html-template/jqBootstrapValidation.min.js"></script>
    <script src="mail/interior-design-html-template/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/web2/interior-design-html-template/js/main.js"></script>
</body>

</html>
