@using Seyahat_sitesi.Models.sınıflar;
@model List<AnaSayfa>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>jon</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/web/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/web/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/web/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/web/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/web/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]
</head>

<!-- body -->
<body class="main-layout">
    <!-- loader  -->

    <div class="loader_bg">
        <div class="loader"><img src="~/web/images/loading.gif" alt="#" /></div>
    </div>

    <section class="banner_main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="text-bg">

                        <h1 style="color:black">AGROBAY ÇİFTÇİLİK</h1>


                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Action("Partial1", "Home") <!-- parçalı yapıyı partial 1 in içine attık ve partial1 view inden cekip burada gösterdik...-->
   
   
    <div class="hottest">
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-5">
                    <div class="titlepage">
                        <h2><img src="https://www.agrobay.com/img/blocks/aboutText_1.png" style="box-sizing: inherit; border-style: none; vertical-align: middle; max-width: 480px; width: 380px; margin-bottom: 20px; padding: initial; color: rgb(41, 43, 44); font-family: &quot;gotham ssm a&quot;, &quot;gotham ssm b&quot;; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><br class="Apple-interchange-newline"> <br></h2>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="hottest_box">
                        <p style="color:black">
                            Ülkemizin verimli topraklarında edindiğimiz bilgi, deneyim ve sahip olduğumuz teknoloji ile İngiltere, Almanya, İspanya, İsveç, Hollanda ve Rusya’ya ihracat gerçekleştiriyor EUREPGAP sertifikamız sayesinde üretim kalitemizden ödün vermeden, unutulan geleneksel lezzetleri yeniden üretiyoruz
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="choose ">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="titlepage">
                        <h2> </h2>
                        <p>
                            Tarım çok sayıda insanı istihdam ettiği için ekonomik kalkınmaya katkı sağlar. Milli gelir seviyesini ve insanların yaşam standartlarını iyileştirir. Tarım sektöründeki gelişmeler, kalkınma için bir motivasyon kaynağıdır. Bu nedenle ekonomik gelişme, tarımsal üretimin büyüme oranına bağlıdır diyebiliriz

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row d_flex">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                    <div class="padding_with">
                        <div class="row">
                            <div class="col-md-6 padding_bottom">
                                <div class="choose_box">
                                    <i><img src="~/web/images/icon1.png" alt="#" /></i>
                                    <div class="choose_text">
                                        <h3>HASAT ZAMANI</h3>
                                        <p>Eylül ayı civarlarına isabet gelen bu zamanda köylüler, çiftçiler ektikleri tohumları bir güzel biçerler</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 padding_bottom">
                                <div class="choose_box">
                                    <i><img src="~/web/images/icon2.png" alt="#" /></i>
                                    <div class="choose_text">
                                        <h3>ÇİFTÇİLİK</h3>
                                        <p>İnsan gücü ve çeşitli makinalardan faydalanılarak toprakta ekim, bakım, dikim ve yetiştirilir.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 padding_bottom2">
                                <div class="choose_box">
                                    <i><img src="~/web/images/icon3.png" alt="#" /></i>
                                    <div class="choose_text">
                                        <h3>HAYVANCILIK</h3>
                                        <p>Evcil hayvanların bakımı, beslenmesi, üretimi ve yetiştirilmesini kapsayan tarım koludur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choose_box">
                                    <i><img src="~/web/images/icon4.png" alt="#" /></i>
                                    <div class="choose_text">
                                        <h3>TARIM</h3>
                                        <p>Tarım, iki temel üretim dalından oluşur. Bunlar bitkisel üretim ve hayvansal üretimdir.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product_box">
                    <figure><img src="~/web/images/product2.jpg" alt="#" /></figure>
                    <h3>Buğday</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <a class="read_more" href="#">Başa Dön</a>
                </div>
            </div>
        </div>
    </div>

    <div class="product">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="titlepage">
                        <h2>Bizim Ürünlerimiz</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_left0">
                    <div class="product_box">
                        <figure><img src="~/web/images/product1.jpg" alt="#" /></figure>
                        <h3 class="black">vegetable</h3>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <div class="product_box">
                        <figure><img src="~/web/images/product2.jpg" alt="#" /></figure>
                        <h3>weat</h3>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 padding_right0">
                    <div class="product_box">
                        <figure><img src="~/web/images/product3.jpg" alt="#" /></figure>
                        <h3>fruit</h3>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 padding_left0">
                    <div class="product_box">
                        <figure><img src="~/web/images/product4.jpg" alt="#" /></figure>
                        <h3>sunflowere</h3>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 padding_right0">
                    <div class="product_box">
                        <figure><img src="~/web/images/product5.jpg" alt="#" /></figure>
                        <h3>Livestock</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>İnsanlar Çiftçilik Hakkında Ne Diyor?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide about_Carousel " data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="carousel-caption ">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="test_box">
                                                    <i><img src="~/web/images/tes1.png" alt="#" /></i>
                                                    <h4>jhone Du</h4>
                                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="test_box">
                                                    <i><img src="~/web/images/tes1.png" alt="#" /></i>
                                                    <h4>jhone Du</h4>
                                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="test_box">
                                                    <i><img src="~/web/images/tes1.png" alt="#" /></i>
                                                    <h4>jhone Du</h4>
                                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="test_box">
                                                    <i><img src="~/web/images/tes1.png" alt="#" /></i>
                                                    <h4>jhone Du</h4>
                                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="test_box">
                                                    <i><img src="~/web/images/tes1.png" alt="#" /></i>
                                                    <h4>jhone Du</h4>
                                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <script src="js/jquery.min.js"></script>
    <script src="~/web/js/popper.min.js"></script>
    <script src="~/web/js/bootstrap.bundle.min.js"></script>
    <script src="~/web/js/jquery-3.0.0.min.js"></script>

    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="web/js/custom.js"></script>
</body>
</html>










