@using Seyahat_sitesi.Models.sınıflar
@model List<Hakkımızda>

<
    <div class="carousel-item active">
        <div class="container">
            <div class="carousel-caption ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="test_box">
                            <i><img src="~/web/images/tes1.png" alt="#" /></i>

                            <h4>Jeotermal Enerji Potansiyeli</h4>
                            <p>
                                Bitkilerin gelişimi için ihtiyaç duydukları belirli bir sıcaklık vardır. Bu nedenle seracılıkta ısıtma çok önemlidir ve maliyetleri yüksektir. İklimsel değişiklikler sebebiyle geleneksel yöntemler kullanarak seraların ısınmasını sağlamanın mümkün olmadığı yörelerde jeotermal enerji, maliyetleri azaltmada çok önemlidir.

                                Bu nedenle tarım yapılacak alanlarda temiz ve yenilenebilir enerji olan jeotermali doğru yerde ve etkin kullanmak gerekir. Isıtmada fosil yakıtları kullanmak yerine yenilenebilir ve temiz enerji kaynağı olan jeotermal enerjiyi kullandığımız için karbon ayak izimizi (karbon salınımımızı) azaltıyoruz.

                                Sağlıklı ürünler yetiştirirken, yeşil enerji kullanarak çevremizi ve geleceğimizi de koruyoruz. İzmir - Bergama jeotermal enerji potansiyeli çok yüksek bir bölge olduğundan Agrobay olarak, jeotermal enerji potansiyelini doğru kullanıyoruz ve daha az maliyetle daha etkin üretim yapıyoruz.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
s

